{{template "public/header.html" .}}
<div class="box container center-block">
    <h1 class="logo"><img src="/static/img/logo.png" class="img-responsive center-block" alt="Tumbex.xyz"></h1>
    <h4 class="text-center">已收录 <span class="text-danger">{{.Count.Blog}}</span> 个博客 / <span class="text-success">{{.Count.Video}}</span> 个视频 / <span class="text-primary">{{.Count.Photo}}</span> 张图片</h4>
</div>
<div class="index container center-block">
    <div class="row">
        {{range .List}}
        <div class="col-sm-4 col-md-2">
            <div class="thumbnail">
                <img src="https://api.tumblr.com/v2/blog/{{.Name}}.tumblr.com/avatar/128" alt="{{if eq "" .Title}}{{.Name}}{{else}}{{.Title}}{{end}}" class="img-circle img-responsive">
                <a href="/{{.Id_.Hex}}/video.html" title="{{if eq "" .Title}}{{.Name}}{{else}}{{.Title}}{{end}}" class="center-block" target="_blank">{{if eq "" .Title}}{{.Name}}{{else}}{{.Title}}{{end}}</a>
            </div>
        </div>
        {{end}}
    </div>
</div>
<div class="container center-block text-center">
    <nav aria-label="Page navigation">
        {{if gt .paginator.PageNums 1}}
            <ul class="pagination pagination-lg">
                {{if .paginator.HasPrev}}
                    <li><a href="{{.paginator.PageLinkFirst}}">&laquo;</a></li>
                    <li><a href="{{.paginator.PageLinkPrev}}">Prev</a></li>
                {{else}}
                    <li class="disabled"><a>&laquo;</a></li>
                    <li class="disabled"><a>Prev</a></li>
                {{end}}
                {{range $index, $page := .paginator.Pages}}
                    <li{{if $.paginator.IsActive .}} class="active"{{end}}><a href="{{$.paginator.PageLink $page}}">{{$page}}</a></li>
                {{end}}
                {{if .paginator.HasNext}}
                    <li><a href="{{.paginator.PageLinkNext}}">Next</a></li>
                    <li><a href="{{.paginator.PageLinkLast}}">&raquo;</a></li>
                {{else}}
                    <li class="disabled"><a>Next</a></li>
                    <li class="disabled"><a>&raquo;</a></li>
                {{end}}
            </ul>
        {{end}}
    </nav>
</div>
{{template "public/footer.html" .}}