{{template "public/header.html" .}}
<div class="box container center-block">
    <h1 class="logo"><img src="/static/img/logo.png" class="img-responsive center-block" alt="Tumbex.xyz"></h1>
    <div class="col-lg-3"></div>
    <div class="row search">
        <div class="col-lg-6">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="请输入博客ID" id="blogName">
                <div class="input-group-addon">.tumblr.com</div>
                <span class="input-group-btn"><button class="btn btn-default" type="button" id="parseBtn">Go!</button></span>
            </div>
            <br>
            <div class="alert alert-danger hidden" role="alert">大哥，你不输入博客ID我怎么知道要解析哪个博客呢？</div>
        </div>
    </div>
    <h4 class="text-center">如：<span class="text-danger">wanimal1983</span>.tumblr.com（<span class="text-danger">wanimal1983</span>就是博客ID）</h4>
</div>
<script>var blogId;var msg;</script>
{{template "public/footer.html" .}}