{{template "public/header.html" .}}
<div class="box container center-block">
    <h1 class="logo"><img src="/static/img/logo.png" class="img-responsive center-block" alt="Tumbex.xyz"></h1>
    <div class="col-lg-3"></div>
    <div class="row search">
        <div class="col-lg-6">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="输入搜索关键字，你懂的..." id="search">
                <span class="input-group-btn"><button class="btn btn-default" type="button" id="searchBtn">Go!</button></span>
            </div>
            <br>
            <div class="alert alert-danger hidden" role="alert">大哥，你不输入关键字我怎么知道你要找什么呢？</div>
        </div>
    </div>
    <h4 class="text-center">已收录 <span class="text-danger">{{.Count.Blog}}</span> 个博客 / <span class="text-success">{{.Count.Video}}</span> 个视频 / <span class="text-primary">{{.Count.Photo}}</span> 张图片</h4>
</div>
{{template "public/footer.html" .}}