{{template "public/header.html" .}}
<div class="box container center-block">
    <div class="avatar text-center">
        <a href="{{.Blog.Url}}" target="_blank" title="{{if eq "" .Blog.Title}}{{.Name}}{{else}}{{.Title}}{{end}}"><img src="https://api.tumblr.com/v2/blog/{{.Blog.Name}}.tumblr.com/avatar/128" alt="{{if eq "" .Blog.Title}}{{.Name}}{{else}}{{.Title}}{{end}}" class="img-responsive img-circle avatar"></a>
        <h4>{{.Blog.Description}}</h4>
    </div>
</div>
<div class="videos container center-block">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/{{.Blog.Id_.Hex}}/video.html">视频列表（{{.Totals}}）</a></li>
        <li role="presentation"><a href="/{{.Blog.Id_.Hex}}/photo.html">图片列表</a></li>
    </ul>
    <div class="row">
        {{range .List}}
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <a href="javascript:;" data-href="{{.Video.Url}}">
                    <i class="glyphicon glyphicon-play-circle"></i>
                    <img onerror="this.src='/static/img/noimg.svg'" src="{{.Video.Thumbnail}}" alt="{{date .PostDate "Y-m-d H:i:s"}}" class="img-responsive">
                </a>
                <div class="caption">
                    <i class="glyphicon glyphicon-play"></i>&nbsp;{{.NoteCount}}&nbsp;
                    <span class="pull-right"><i class="glyphicon glyphicon-time"></i>&nbsp;{{.Video.Duration | duration}}</span>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
<div class="container center-block text-center">
    <nav aria-label="Page navigation">
    {{if gt .paginator.PageNums 1}}
        <ul class="pagination pagination-lg">
        {{if .paginator.HasPrev}}
            <li><a href="{{.paginator.PageLinkFirst}}">&laquo;</a></li>
            <li><a href="{{.paginator.PageLinkPrev}}">Prev</a></li>
        {{else}}
            <li class="disabled"><a>&laquo;</a></li>
            <li class="disabled"><a>Prev</a></li>
        {{end}}
        {{range $index, $page := .paginator.Pages}}
            <li{{if $.paginator.IsActive .}} class="active"{{end}}><a href="{{$.paginator.PageLink $page}}">{{$page}}</a></li>
        {{end}}
        {{if .paginator.HasNext}}
            <li><a href="{{.paginator.PageLinkNext}}">Next</a></li>
            <li><a href="{{.paginator.PageLinkLast}}">&raquo;</a></li>
        {{else}}
            <li class="disabled"><a>Next</a></li>
            <li class="disabled"><a>&raquo;</a></li>
        {{end}}
        </ul>
    {{end}}
    </nav>
</div>
{{template "public/footer.html" .}}