body{font-family:"Helvetica Neue","Helvetica","Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei","sans-serif";background-color:#F7F8FA}
.navbar a{color:#FFF !important}
.navbar li.active{border-bottom:5px solid #FFF}
.navbar li.active a:hover{border:none}
.navbar li a:hover{transition:all .5s;-webkit-transition:all .5s;border-bottom:5px solid #FFF}
.box{background-color:#FFF;padding-bottom:20px}
.logo{margin:50px 0}
.search{margin-bottom:40px}
.index,.videos,.photos{margin-top:10px}
.index .thumbnail{background:none;border-radius:50%;border:none}
.index .thumbnail:hover img{opacity:0.2}
.index .thumbnail a{position:absolute;top:50%;left:50%;transform:translate(-50%,-70%);color:#000;font-size:18px;display:none}
.videos .thumbnail img,.photos .thumbnail img{height:200px;width:100%}
.videos .thumbnail i.glyphicon-play-circle{font-size:60px;color:#FFF;padding:5px;position:absolute;right:40%;text-decoration:none;top:25%;border-radius:3px;transition:all 500ms}
.copyright{margin-top:30px}
.verify{height:46px;max-width:160px;border-radius:5px}
.avatar{margin:50px auto 20px auto}