<div class="container center-block text-center copyright">
    <p>
    	&copy;2018 Tumbex.xyz. Website built by <a href="https://git.wskehao.com/ylqjgm/Tumbex" target="_blank">Tumbex</a>,
    	Powered by <a href="http://golang.org/" target="_blank" title="GoLang">Golang</a>,
    	<a href="http://www.mongodb.org/" target="_blank" title="MongoDB">MongoDB</a>,
    	<a href="http://beego.me" target="_blank" title="BeeGo">Beego</a>.<br>
    	Build version {{.GoVersion}}, Based on <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>、<a href="http://layer.layui.com/" target="_blank">Layer</a>、<a href="http://jquery.com/" target="_blank">jQuery</a>, Icons from <a href="http://glyphicons.com/" target="_blank">Glyphicons</a>.<br>
    	Processed in {{.StartTime | loadtimes}} second(s) , Memory Limit: {{memoryused}}MB, Disk Limit: {{diskused}}GB.<br>
    	<span class="text-center"><a href="https://mit-license.org/" target="_blank">MIT License</a></span>
	</p>
</div>
<script src="//cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/layer/3.1.0/layer.js"></script>
<script src="/static/js/common.js"></script>
</body>
</html>