<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <title>Tumbex - Tumblr在线解析福利</title>
    <meta name="keywords" content="汤不热,tumblr,tumblr福利,tumblr下载,汤不热福利,汤不热官网,tumbex.xyz">
    <meta name="description" content="免费分享几亿Tumblr汤不热福利视频播放下载！">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/layer/3.1.0/mobile/need/layer.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/favicon.png">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Tumbex</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li{{if eq "home" .Current}} class="active"{{end}}><a href="/">首页</a></li>
                <li{{if eq "search" .Current}} class="active"{{end}}><a href="/search.html">搜索</a></li>
                <li{{if eq "parse" .Current}} class="active"{{end}}><a href="/parse.html">解析</a></li>
            </ul>
        </div>
    </div>
</nav>